@font-face {
    font-family: 'Phosphe`ne Font';
    src: url('fonts/PhospheneFont-Regular.woff2') format('woff2'),
        url('fonts/HealTheWebA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
       url('fonts/Satoshi-Regular.woff') format('woff'),
       url('fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('fonts/JetBrainsMono-Variable.woff2') format('woff2'),
       url('fonts/JetBrainsMono-Variable.woff') format('woff'),
       url('fonts/JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root{
    --pink: rgb(255, 56, 152);
    --background: #ffffff;
    --yellow: #f9ff4b;
    --green: #75fe66;
    --black: #111111;
    --spacing: 2rem;
    font-family: 'JetBrainsMono-Regular';
}

body{
    display: grid; 
    height: 100vh;
    color: var(--black);
    background-color: var(--background);
}

body p{
    padding: var(--spacing);
}

ul{
    padding-inline:  calc(var(--spacing)*2);
}

em{
    font-family: 'Phosphe`ne Font';
}

span {
    text-decoration: underline;
}

header{
    font-family: 'Satoshi-regular';
    font-size: var(--spacing);
    background: var(--green);
    padding: var(--spacing);
}

footer{
   background-color: var(--green);
}