:root{
    --color: tomato;
    --background: #ddd;
}

body{
    color: var(--color);
    background-color: var(--background)
}

footer{
    color: var(--background);
    background-color: var(--color);
}