@font-face {
    font-family: 'Format_1452';
    src: url('Format_1452.woff2') format('woff2'),
        url('Format_1452.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Format_1452';
    src: url('Format_1452.woff2') format('woff2'),
        url('Format_1452.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

