@font-face {
    font-family: 'Phosphe`ne Font';
    src: url('PhospheneFont-Regular.woff2') format('woff2'),
        url('PhospheneFont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

